:root {
  --color-primary: #202D36;
  --color-secondary: #2E4057;
  --color-tertiary: #596E8D;
  --color-quaternary: #F5F7FA;
  --color-highlight: #FF5252;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-quaternary);
  color: var(--color-primary);
  line-height: 1.6;
  font-size: 18px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  flex: 1;
  padding: 20px;
  background-color: var(--color-primary);
  color: var(--color-quaternary);
  height: 100vh;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

nav .logo {
  font-size: 2em;
  color: var(--color-highlight);
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

nav ul li a {
  color: var(--color-quaternary);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--color-highlight);
}

#app {
  flex: 3;
  padding: 20px;
}

header {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-tertiary);
}

header h2 {
  font-size: 2em;
  color: var(--color-highlight);
  margin-bottom: 20px;
}

main {
  margin-top: 30px;
}

main section {
  margin-bottom: 30px;
}

main section h3 {
  font-size: 1.5em;
  color: var(--color-secondary);
  margin-bottom: 10px;
}

main section p {
  font-size: 1.2em;
  color: var(--color-secondary);
}
